<link rel="stylesheet" href="css/errors.css" />

<% if (typeof errors != 'undefined') { %>
<!--  -->
<% errors.forEach(function(error){ %>
<!--  -->
<div class="warning"><%= error.msg %></div>
<!--  -->
<% }); %>
<!--  -->
<% } %>
<!--  -->

<% if(success_msg != '') { %>
<!--  -->
<div class="success"><%= success_msg %></div>
<!--  -->
<% } %>
<!--  -->
<% if(error != '') { %>
<!--  -->
<div class="warning"><%= error %></div>
<!--  -->
<% } %>
