<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/class_attendance.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Present Meet</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div id="msg"></div>
        <div class="head_controller">
          <div class="buttons">
            <button class="button" id="add_class_list">Add a Class List</button>
            <a href="/" id="home"
              ><button class="button"><i class="fa fa-home"></i></button
            ></a>
          </div>
        </div>
        <div class="add_class"></div>
      </div>
    </main>
    <script src="javascript/class_attendance.js"></script>
  </body>
</html>
