<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/face_recognition.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Present Meet</title>
    <script type="module" src="javascript/face_controller.js"></script>
  </head>
  <body>
    <div id="preloader"></div>
    <main>
      <section id="user-face">
        <div class="text"></div>
        <button class="button" id="home">
          <a href="/"><i class="fa fa-home"></i></a>
        </button>
        <!-- validation messages -->
        <div id="messages"></div>
        <!-- Camera and canvas -->
        <div class="attendance-camera"></div>
        <div class="buttons">
          <button class="button" id="camera-btn">Start Camera</button>
          <button class="button" id="photo-btn">Record Face</button>
          <button class="button" id="recognize-btn">Recognize</button>
        </div>
        <!-- devices -->
        <div id="devices"></div>
      </section>
    </main>
    <div id="modal-confirm">
      <div id="modal-content">
        <label for="password">Password</label>
        <input
          class="input"
          type="password"
          name="password"
          id="password"
          required
        />
        <div class="buttons">
          <button class="button" id="cancel">Cancel</button>
          <button class="button" id="confirm">Confirm</button>
        </div>
      </div>
    </div>
    <script src="javascript/FaceApi/face-api.js"></script>
    <script src="javascript/FaceApi/face-api.min.js"></script>
  </body>
</html>
