<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/face_recognition.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      href="/public/img/logo-no-background.svg"
      type="image/x-icon"
    />
    <title>Present Meet</title>
    <script
      type="module"
      src="javascript/face_recognition/controller.js"
    ></script>
  </head>
  <body>
    <!-- <div id="preloader"></div> -->
    <div class="nav_bar">
      <div class="buttons left_navbar">
        <button class="button" id="home" onclick="location.href='/'">
          <i class="fa fa-home"></i>
        </button>
      </div>
      <div class="buttons right_navbar"></div>
    </div>
    <div class="text">
      <p>
        Webgl > cpu
        <span
          class="question_mark"
          title="If your device backend is Webgl the faster the face detection and face recognition"
        ></span>
      </p>
    </div>
    <div class="attendance-camera"></div>
    <div id="devices">
      <label for="devices">Camera devices : </label>
      <select name="devices" id="camera_device">
        <option value="" disabled selected hidden>Turn on camera first</option>
      </select>
    </div>
    <div class="buttons" id="functionBtn">
      <button class="button" id="camera-btn">Camera</button>
      <button class="button" id="photo-btn">Photo</button>
      <button class="button" id="recognize-btn">Recognize</button>
    </div>
    <!-- MODAL -->
    <div id="modal-confirm">
      <div id="modal-content">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <div class="buttons_confirm">
          <button class="button" id="cancel">Cancel</button>
          <button class="button" id="confirm">Confirm</button>
        </div>
      </div>
    </div>
    <script src="javascript/FaceApi/face-api.js"></script>
    <script src="javascript/FaceApi/face-api.min.js"></script>
  </body>
</html>
