<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="/public/img/logo-no-background.svg"
      type="image/x-icon"
    />
    <title>Present Meet</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/forgot_password.css" />
    <script
      type="module"
      src="javascript/forgot_password/controller.js"
    ></script>
  </head>
  <body>
    <main>
      <div class="card">
        <%- include('partials/title') %>
        <div class="intro">Forgot Password</div>
        <%- include('partials/messages') %>
        <div id="user-login">
          <input
            type="email"
            name="email"
            id="email"
            value=""
            autocomplete="off"
          />
          <label for="email">Email</label>
          <button type="button" id="email__submit" class="button">
            Submit
          </button>
        </div>
        <p>No account? <a href="/register">Sign up</a> now!</p>
        <p><a href="/">--> Home</a></p>
      </div>
    </main>
  </body>
</html>
