<!-- <%- include('partials/header') %> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Present Meet</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/home.css" />
    <script defer src="javascript/home.js"></script>
  </head>
  <body>
    <!-- Main -->
    <div class="homepageMain">
      <div class="text">
        <h2>
          80 Percent of Success is Showing Up. <br />
          Attend Today, Achieve Tomorrow.
        </h2>
        <span
          >We develope a secure and fast service to <br />
          ensure meetings and attendance is available and free for all.</span
        >
        <div class="buttons roomsBtn">
          <button class="button btnJoin" id="btn-join-modal">Join</button>
          <button class="button btnCreateRoom" id="btn-create-modal">
            Create Room
          </button>
        </div>

        <hr width="500px" />

        <div class="homepageFooter">
          <a href="/profile"
            ><button class="button profile" id="profile" type="button">
              Profile
            </button></a
          >
          <%- include('partials/type') %>
          <!-- </form> -->
          <form action="/logout">
            <button class="button logout" id="logout" type="submit">
              Logout
            </button>
          </form>
        </div>
      </div>
      <div class="homepageImg">
        <img src="img/2.png" alt="onCall" />
      </div>
    </div>

    <!-- MODALS -->
    <!-- Meeting Joining -->
    <div id="modal-join" class="modal-join">
      <div class="joinModal">
        <h3>Join a meeting</h3>
        <span>Enter a meeting code provided by the meeting organizer</span>
        <form action="/room" method="get">
          <input
            class="input"
            type="text"
            name="meetingId"
            id="txtMeetingCode"
            placeholder="Enter Meeting Code..."
            minlength="6"
            maxlength="10"
            autocomplete="off"
            required
          />
          <div class="buttons">
            <button class="button" type="submit">Join</button>
          </div>
          <span class="close-join-modal">X</span>
        </form>
      </div>
    </div>

    <!-- Create Meeting -->
    <div id="modal-create" class="modal-create">
      <div class="createModal">
        <h3>Create a Meeting</h3>
        <span>Here's the link to your meeting</span>
        <form action="/room" method="get">
          <input
            class="input"
            type="text"
            name="meetingId"
            id="link"
            autocomplete="off"
            readonly
          />
          <button id="copy-link" class="icon" type="button">
            <i class="fa-solid fa-copy"></i>
          </button>
          <div class="buttons">
            <button class="button" type="submit">Enter Room</button>
          </div>
          <span class="close-create-modal">X</span>
        </form>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
