<%- include('partials/header') %>
<main>
  <div class="card">
    <div class="intro">Login</div>
    <%- include('partials/messages') %>
    <form action="/login" id="user-login" method="post">
      <input type="email" name="email" id="email" value="" autocomplete="off" />
      <label for="email">Email</label>
      <input
        type="password"
        name="password"
        id="password-input"
        value=""
        autocomplete="off"
      />
      <label for="password">Password</label>
      <button type="submit" class="button">Login</button>
    </form>

    <p>No account? <a href="/register">Sign up</a> now!</p>
  </div>
</main>
<%- include('partials/footer') %>
