<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Present Meet</title>
    <link rel="stylesheet" href="css/register.css" />
    <script type="module" src="javascript/profile/controller.js"></script>
  </head>
  <body>
    <main>
      <div id="form">
        <div class="card">
          <div id="messages"></div>
          <form id="info">
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                type="text"
                name="first_name"
                id="first_name"
                value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
                required
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <label for="middle_name">Middle Name</label>
              <input
                type="text"
                name="middle_name"
                id="middle_name"
                value="<%= typeof middle_name != 'undefined' ? middle_name : '' %>"
                required
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input
                type="text"
                name="last_name"
                id="last_name"
                value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
                required
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <label for="birthday">Birthday</label>
              <input
                type="date"
                name="birthday"
                id="birthday"
                min="1950-01-01"
                max="2013-12-31"
                value="<%= typeof birthday != 'undefined' ? birthday : '' %>"
                required
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <label for="type">User type</label>
              <select name="type" id="user-type" required>
                <option value="" selected disabled hidden>
                  Please Choose an Account Type
                </option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
              </select>
            </div>
            <button class="button" type="button" id="submit-btn">Submit</button>
          </form>
          <div class="footer">
            <p>Want to change password?</p>
            <button type="button" id="change-pw">Change Password</button>
            <a href="/">Homepage</a>
          </div>
        </div>
      </div>
    </main>
    <div id="modal-confirm">
      <div id="modal-content">
        <label for="password">Password</label>
        <input
          class="input"
          type="password"
          name="password"
          id="password"
          required
        />

        <div id="buttons">
          <button class="button" id="cancel">Cancel</button>
          <button class="button" id="confirm">Confirm</button>
        </div>
      </div>
    </div>

    <div id="modal-password">
      <div id="modal-content">
        <label for="password0">Password</label>
        <input
          class="input"
          type="password"
          name="password0"
          id="change_password"
          required
        />
        <label for="password1">New Password</label>
        <input
          class="input"
          type="password"
          name="password1"
          id="change_password1"
          required
        />
        <label for="password2">Confirm Password</label>
        <input
          class="input"
          type="password"
          name="password2"
          id="change_password2"
          required
        />
        <div id="buttons">
          <button class="button" id="cancel_change_pw">Cancel</button>
          <button class="button" id="change_pw_btn">Confirm</button>
        </div>
      </div>
    </div>
  </body>
</html>
