* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8ecef;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.add_class {
  width: 80%;
  height: 93vh;
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  padding: 10px 15px;
  background-color: #e5e5e5;
  margin: 5px 10px;
  border-radius: 3px;
}

.class_list {
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.3rem;
  position: relative;
  height: 93vh;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.add_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.users {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  padding: 5px 10px;
  background: transparent;
  text-transform: capitalize;
}

.list_content {
  color: white;
  text-shadow: 1px 1px black;
}

#subject,
#section {
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.nav_bar {
  background-color: black;
  /* border: 2px solid black; */
  width: 100vw;
  height: 7vh;
}

.left_navbar {
  float: left;
  height: 100%;
}

.right_navbar {
  float: right;
  height: 100%;
}

.right_navbar > button {
  height: 100%;
}
.left_navbar > button {
  height: 100%;
}

#add_class_list,
#home {
  /* border: 1px solid white; */
  color: white;
}

.left_navbar > button:hover,
.right_navbar > button:hover {
  background: gray;
  color: black;
}

#home {
  padding: 0px 20px;
  font-size: 1.2rem;
}

.button:hover {
  background-color: black;
  color: white;
}
