* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8ecef;
}

#class_text {
  text-align: center;
}

#message_main {
  text-align: center;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#preloader {
  display: block;
  background: #000 url('/public/img/bigLoader.gif') no-repeat center center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container_class {
  display: flex;
  width: 80%;
  height: 100vh;
  float: right;
  overflow: hidden;
}

#main_class {
  width: 50%;
  height: 91%;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  padding: 10px 15px;
  background-color: #e5e5e5;
  margin: 5px 10px;
  border-radius: 3px;
}

.card__clickable {
  cursor: pointer;
}

.class_list {
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.3rem;
  position: relative;
  height: 93vh;
  border-right: 1px solid black;
}

#main_list {
  width: 50%;
  height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.3rem;
  position: relative;
  margin: 3px auto;
  border: 1px solid black;
}

#add_list,
#class_edit {
  position: relative;
  width: 50%;
  height: 92vh;
  border: 1px solid black;
  margin: 3px auto;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg_class_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#class_info {
  text-align: center;
}

#class_info > h5 {
  padding: 10px 0px;
}
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#add_user {
  width: 50%;
}

#add_user_content {
  position: relative;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83%;
  float: left;
  gap: 5px;
}

.user {
  padding: 5px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

.form-group {
  width: 100%;
  padding: 10px 0px;
}

.container_buttons {
  margin-top: 10px;
}

.container_buttons > button {
  width: 100%;
  margin: 5px 0px;
}

#student_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.group_buttons {
  /* float: right; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  padding: 5px 10px;
  background: transparent;
  text-transform: capitalize;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td:last-child {
  background-color: #e5e5e5;
}

.no_border {
  border: none;
}

.list_content {
  color: white;
  text-shadow: 1px 1px black;
}

#subject,
#year_level,
#section {
  text-transform: uppercase;
}

.close {
  position: absolute;
  top: 0;
  right: 0px;
  background: transparent;
  border: none;
  border-radius: 1px;
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
}

.close:hover {
  background-color: black;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.nav_bar {
  background-color: black;
  /* border: 2px solid black; */
  width: 100vw;
  height: 7vh;
}

.left_navbar {
  float: left;
  height: 100%;
}

.right_navbar {
  float: right;
  height: 100%;
}

.right_navbar > button {
  height: 100%;
}
.left_navbar > button {
  height: 100%;
}

#add_class_list,
#home {
  color: white;
}

.left_navbar > button:hover,
.right_navbar > button:hover {
  background: gray;
  color: black;
}

#home {
  padding: 0px 20px;
  font-size: 1.2rem;
}

#main {
  position: relative;
  display: flex;
}

.button:hover {
  background-color: black;
  color: white;
}
