.errors {
  text-align: center;
  border: none;
  background-color: red;
  color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 10px 0px;
  text-shadow: 1px 1px black;
}

.success {
  padding: 5px;
  text-align: center;
  border: none;
  background-color: green;
  color: white;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 10px 0px;
  text-shadow: 1px 1px black;
}

.warning {
  padding: 5px;
  text-align: center;
  border: none;
  background-color: orange;
  color: black;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 10px 0px;
  text-shadow: 1px 1px white;
}
