* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8ecef;
  font-size: 1rem;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1rem;
}

#preloader {
  background: #000 url('/public/img/bigLoader.gif') no-repeat center center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#home {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  /* width: 4%; */
}
/* #home:hover {
  background-color: black;
  color: white;
} */
/* Messages */

#msg {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: green;
  font-size: 1.4rem;
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
}

#err {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: red;
  font-size: 1.4rem;
  color: white;
  text-shadow: 4px 4px black;
  text-align: center;
}

/* face recognition buttons */

#attendance-btn {
  font-size: 1.1rem;
}

.photo-btn > button {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  font-weight: 400;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 20px;
}

.button {
  background-color: transparent;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}

/* Image upload section */

#upload-img {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* face recognition section */
.text {
  text-align: center;
  margin: 20px;
  font-size: 1.2rem;
}

.video-container {
  border-radius: 5px;
}

.take-photo {
  text-align: center;
}

#user-face {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.attendance-camera {
  width: 720px;
  height: 480px;
  background-color: #e9e9e9;
  border: solid 1px black;
  border-radius: 5px;
  margin: auto;
  position: relative;
}

.photo-btn {
  display: flex;
  place-content: center;
  place-items: center;
  /* top: 28rem; */
  /* left: 34rem; */
  /* height: 100px; */
  /* width: 100px; */
  background-color: #000000;
  border-radius: 100%;
  margin: 0px auto;
  /* margin-top: 20px; */
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* bounding boxes */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* modal */

#modal-confirm {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 25%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 80%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: transparent;
}

/* pointer events none */
.disabled-btn {
  pointer-events: none;
}

@media (max-width: 1600px) {
  main {
    display: block;
    font-size: 1.1rem;
  }
  #upload-img {
    width: 100%;
  }
  #user-face {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  main {
    font-size: 1.2rem;
  }
  .buttons {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  main {
    font-size: 1.3rem;
  }
  #modal-content {
    width: 60%;
  }
  .buttons {
    width: 75%;
  }
  /* #home {
    width: 8%;
  } */
}

@media (max-width: 768px) {
  main {
    font-size: 1.4rem;
  }
  .buttons {
    width: 80%;
  }
  .attendance-camera {
    width: 400px;
    height: 600px;
  }
  #modal-content {
    width: 65%;
  }
}
@media (max-width: 480px) {
  main {
    font-size: 1.5rem;
  }
  .buttons {
    width: 90%;
  }
  .attendance-camera {
    width: 400px;
    height: 600px;
  }
  #modal-content {
    width: 70%;
  }
  /* #home {
    width: 10%;
  } */
}
