/* Start init */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8ecef;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1rem;
}
/* End init */

/* Nav bar */
.nav_bar {
  background-color: black;
  width: 100vw;
  height: 7vh;
  position: relative;
}
.left_navbar {
  float: left;
  height: 100%;
}
.left_navbar > button {
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  position: absolute;
}
.right_navbar {
  float: right;
  height: 100%;
}
.right_navbar > button {
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  position: absolute;
}

.left_navbar > button:hover,
.right_navbar > button:hover {
  background: gray;
  color: black;
}
#main {
  position: relative;
  display: flex;
}
/* End Nav bar */

/* Start Messages */
.warning_msg,
.success_msg,
.error_msg,
.user_notification_msg {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  padding: 10px;
  top: 10px;
  left: 10px;
  color: white;
  text-shadow: 2px 2px black;
  z-index: 10;
}
.user_notification_msg {
  text-shadow: 1px 1px black;
  background: gray;
}
.warning_msg {
  background-color: orange;
}
.success_msg {
  background-color: green;
}
.error_msg {
  background-color: red;
}

.close_btn {
  border: none;
  background: transparent;
}
.close_btn:hover {
  background-color: black;
  color: white;
}
.close_msg {
  font-size: 1.5rem;
}
.button-box {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.button-box:hover {
  color: white;
  background-color: black;
}
/* End Messages */

/* Loader */
/* #preloader {
  background: url('/public/img/spinner.svg') no-repeat center center transparent;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
} */
.loader {
  background: url('/public/img/spinner.svg') no-repeat center center transparent;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}
/* End loader */

/* Start Devices */
#devices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#devices > select {
  padding: 5px 10px;
}
/* End devices */
/* face recognition buttons */
#attendance-btn {
  font-size: 1.1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px 10px;
}
.button {
  background-color: transparent;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: white;
}
/* face recognition section */
.text {
  text-align: center;
  margin: 5px;
  font-size: 1.2rem;
}

.attendance-camera {
  width: 720px;
  height: 480px;
  background-color: #e9e9e9;
  border: solid 1px black;
  border-radius: 5px;
  margin: auto;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* bounding boxes */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Start Modal */
.buttons_confirm {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  gap: 10px;
}
#modal-confirm {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 25%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#modal-content > input {
  width: 80%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: transparent;
}
/* End Modal */
@media (max-width: 1366px) {
  main {
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  main {
    font-size: 1.3rem;
  }
  #modal-content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  main {
    font-size: 1.4rem;
  }
  #modal-content {
    width: 70%;
  }
  .attendance-camera {
    width: 400px;
    height: 600px;
  }
}
@media (max-width: 480px) {
  main {
    font-size: 1.5rem;
  }
}
