* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flash_messages {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  padding: 10px 15px;
  background-color: #e5e5e5;
  margin: 5px 10px;
  border-radius: 3px;
}

.invitation_link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
  background-color: transparent;
}

.button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1600px) {
  .invitation_link {
    width: 60%;
  }
}
@media (max-width: 1366px) {
  .invitation_link {
    width: 70%;
  }
}
@media (max-width: 720px) {
  .invitation_link {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .invitation_link {
    width: 90%;
  }
}
