* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.flash_messages {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: black;
  text-decoration: underline;
}
body {
  overflow: hidden;
  display: flex;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.title > h1 > span {
  color: blue;
}
.title > p {
  font-size: 1.1rem;
  text-align: center;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.4rem;
  flex-direction: column;
}
.card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  width: 30%;
  margin: 10px;
  text-align: center;
}
.logo {
  background: url('/public/img/logo-no-background.svg') no-repeat center center
    transparent;
  background-size: 100%;
  width: 10%;
  height: 10%;
}
.content {
  font-size: 1.1rem;
}
input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px 10px;
  font-size: 1.4rem;
}
.remember-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
}
input:focus {
  outline: none;
}
#login {
  display: flex;
  justify-content: center;
}

.intro {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

.button {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  margin: 3% auto;
  cursor: pointer;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
}

.button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1600px) {
  main {
    font-size: 1.2rem;
  }
  .card {
    width: 50%;
  }
}
@media (max-width: 1366px) {
  main {
    font-size: 1.3rem;
  }
  .card {
    width: 60%;
  }
}
@media (max-width: 768px) {
  main {
    font-size: 1.4rem;
  }
  .card {
    width: 70%;
  }
}
@media (max-width: 480px) {
  main {
    font-size: 1.5rem;
  }
  .card {
    width: 80%;
  }
}
