* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  overflow: hidden;
  display: flex;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.2rem;
  flex-direction: column;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  width: 30%;
  margin: 10px;
  text-align: center;
}

input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
}

input:focus {
  outline: none;
}

#login {
  display: flex;
  justify-content: center;
}

/* #login-btn {
  background-color: #2aca3e;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  color: #fff;
  text-shadow: 2px 2px black;
  bottom: 0.9rem;
  border-radius: 8px;
  display: flex;
  margin: 3% auto;
  cursor: pointer;
} */

.button {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  margin: 3% auto;
  cursor: pointer;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 1600px) {
  main {
    font-size: 1.2rem;
  }
  .card {
    width: 50%;
  }
}
@media (max-width: 1366px) {
  main {
    font-size: 1.3rem;
  }
  .card {
    width: 60%;
  }
}
@media (max-width: 768px) {
  main {
    font-size: 1.4rem;
  }
  .card {
    width: 70%;
  }
}
@media (max-width: 480px) {
  main {
    font-size: 1.5rem;
  }
  .card {
    width: 80%;
  }
}
