* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* Loader */
.svg_spinner {
  background: url('/public/img/spinner.svg') no-repeat center center transparent;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  background-size: 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
body {
  background-color: black;
  font-size: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.title > h1 > span {
  color: blue;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5rem;
} */

.form-group {
  padding: 5px 0px;
}

.intro {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  width: 100%;
  margin: 10px;
}

#messages {
  text-align: center;
}

#msg {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  font-size: 1.4rem;
  color: white;
  text-shadow: 1px 1px black;
}

#err {
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  background-color: red;
  font-size: 1.4rem;
  color: white;
  text-shadow: 1px 1px black;
}

.button {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  color: black;
  margin-top: 10px;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;
}

.input {
  width: 80%;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: transparent;
}

input {
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  font-size: 1rem;
}

#first_name,
#middle_name,
#last_name {
  text-transform: capitalize;
}

select {
  text-align: center;
  font-size: 1rem;
  padding: 5px 10px;
  display: flex;
  margin: 10px auto;
  width: 100%;
}

label {
  font-size: 1rem;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

@media (max-width: 1600px) {
  main {
    width: 40%;
  }
}
@media (max-width: 1366px) {
  main {
    width: 50%;
  }
}
@media (max-width: 768px) {
  main {
    width: 90%;
  }
}

@media (max-height: 900px) {
  .card {
    overflow-y: auto;
  }
}
