* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #000000;
}
.videoCall {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* loader */
#preloader {
  background: #000 url('/public/img/bigLoader.gif') no-repeat center center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* Buttons */
.footerBtn {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  place-items: center;
  padding: 10px 0 10px 0;
  color: #fff;
  font-size: 20px;
}
.videoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 0px;
}
.middleBtn {
  position: absolute;
  display: none;
  margin: 0px auto;
  align-items: center;
  width: 20%;
  justify-content: space-evenly;
  left: 40%;
}
.rightBtn {
  float: right;
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  margin: 0px 0px 0px auto;
}
#leave-btn {
  background-color: red;
}
.button {
  background-color: #494949;
  color: white !important;
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.active {
  background-color: green;
  color: black;
}
.copy {
  color: #fff;
  background-color: #494949;
  width: 50px;
  height: 50px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 10px;
}
.copy:active {
  border: 1px solid black;
}
.mainBtn {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
#join-btn {
  background-color: #2aca3e;
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  color: #fff;
  text-shadow: 2px 2px black;
  bottom: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}
#quit-btn {
  background-color: red;
  font-size: 18px;
  padding: 15px 25px;
  border: none;
  color: #fff;
  text-shadow: 2px 2px black;
  bottom: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}
#setup-btn {
  background-color: #2aca3e;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  color: #fff;
  text-shadow: 1px 1px black;
  bottom: 0.9rem;
  border-radius: 3px;
  cursor: pointer;
  margin: 10px;
}
/* End Button */
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End ScrollBar */
/* Users Stream */
/* .streams {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-57%, -49%);
  height: 90vh;
  width: 86%;
  overflow: hidden;
  overflow-y: auto;
  text-align: justify;
  float: left;
} */
.streams {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -49%);
  height: 90vh;
  width: 95%;
  overflow: hidden;
  overflow-y: auto;
  text-align: justify;
}
.video__container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #494949;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  width: 300px;
  height: 200px;
  position: relative;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.video-player {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.video-player video {
  display: block;
  position: absolute;
  border-radius: 3px;
}
.name {
  font-size: 18px;
  position: absolute;
  text-shadow: 1px 1px black;
  padding: 0;
  bottom: 0;
}
video {
  object-fit: fill !important;
  width: 100%;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
}
#stream__box {
  display: block;
  margin: auto;
  background-color: #494949;
  height: 88vh;
  width: 89vw;
  margin-bottom: 20px;
  display: none;
}
#stream__box .video__container {
  border: 1px solid white;
  border-radius: 3px;
  width: 100% !important;
  height: 100% !important;
}
#stream__box video {
  border-radius: 10px;
}
#streams__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2em;
}
.container__stream {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Stream */
/* Messages */
#messages__container {
  display: none;
  z-index: 2;
  height: calc(100vh - 85px);
  background-color: #262625;
  right: 0;
  position: absolute;
  width: 100%;
  height: 90vh;
  max-width: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}
#messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.message__wrapper:last-child {
  margin-bottom: 6.5rem;
}
.message__wrapper {
  display: flex;
  gap: 10px;
  margin: 1em;
}
.message__body {
  background-color: #4c5265;
  border-radius: 10px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 900px;
}
.message__body strong {
  font-weight: 600;
  color: #ede0e0;
}
.message__body__bot {
  padding: 0 20px;
  max-width: 900px;
  color: #bdbdbd;
}
.message__author {
  margin-right: 10px;
  color: yellow !important;
}
.message__author__bot {
  margin-right: 10px;
  color: #a52aca !important;
}
.message__text {
  color: white;
  margin: 0;
}
#message__form {
  width: 100%;
  position: inherit;
  bottom: 0;
  /* display: none; */
  background-color: #1a1a1a;
  padding: 1em;
}
#message__form input {
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 18px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #3f434a;
}
#message__form input:focus {
  outline: none;
}
#message__form input::placeholder {
  color: #707575;
}
/* end messages */
/* members container */
#members__container {
  z-index: 2;
  height: calc(100vh - 85px);
  background-color: #262625;
  right: 0;
  position: absolute;
  width: 100%;
  max-width: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}
#members__header {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  font-size: 18px;
  background-color: #323143;
  height: 7%;
}
#member__list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.member__list::-webkit-scrollbar {
  height: 14px;
}
.member__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-left: 1em;
}
.green__icon {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2aca3e;
}
.member_name {
  font-size: 14px;
  line-height: 0;
}
/* End members */
/* settings modal */
#modal-settings {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 3px;
  background-color: white;
  width: 25%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.close-settings-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

#devices-settings {
  display: flex;
  flex-direction: column;
}

.refresh {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

select {
  padding: 5px;
}

/* Face recognition */

.modal_face {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_face_content {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#msg {
  text-align: center;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

/* responsiveness for mobile */
@media (max-width: 1600px) {
  .settings-modal {
    width: 40%;
  }
}
@media (max-width: 1366px) {
  .middleBtn {
    width: 40%;
    left: 30%;
  }
  .rightBtn {
    width: 15%;
  }
  .videoLink {
    width: 20%;
  }
  .settings-modal {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #stream__box {
    height: 85vh;
  }
  .middleBtn {
    width: 50%;
  }
  .rightBtn {
    width: 20%;
  }
  .videoLink {
    width: 30%;
  }
  .mainBtn {
    left: 55%;
  }
  .settings-modal {
    width: 80%;
  }
  #screen-btn {
    display: none;
  }
}
@media (max-width: 480px) {
  #join-btn,
  #quit-btn {
    font-size: 14px;
    padding: 10px 15px;
  }
  .settings-modal {
    width: 70%;
  }
}
